<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Codeception.docs.ja : Codeception docs japanese translation">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/guides.css">

    <title>Codeception.docs.ja</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="container inner">
        <a id="forkme_banner" href="https://github.com/piccagliani/Codeception.docs.ja_JP">View on GitHub</a>

        <h1 id="project_title"><a href="index.html">Codeception.docs.ja</a></h1>
        <h2 id="project_tagline">Codeception docs japanese translation</h2>

        <section id="downloads">
            <a class="zip_download_link" href="https://github.com/piccagliani/Codeception.docs.ja_JP/zipball/master">Download this project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/piccagliani/Codeception.docs.ja_JP/tarball/master">Download this project as a tar.gz file</a>
        </section>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="container">
    <div class="row">
        <section id="main_content" class="col-md-9">
            {{ content }}
        </section>
        <nav id="nav" class="col-md-3">
            <h1>ガイド</h1>
            <div class="well">
                <ol>
                    <li><a href="01-Introduction.html">イントロダクション</a></li>
                    <li><a href="02-GettingStarted.html">はじめに</a></li>
                    <li><a href="03-AcceptanceTests.html">受け入れテスト</a></li>
                    <li><a href="04-FunctionalTests.html">機能テスト</a></li>
                    <li><a href="05-UnitTests.html">単体テスト</a></li>
                    <li><a href="06-ModulesAndHelpers.html">モジュールとヘルパー</a></li>
                    <li><a href="06-ReusingTestCode.html">テストコードの再利用</a></li>
                    <li><a href="07-AdvancedUsage.html">高度な使用法</a></li>
                    <li><a href="07-BDD.html">振舞駆動開発</a></li>
                    <li><a href="08-Customization.html">カスタマイズ</a></li>
                    <li><a href="09-Data.html">データを取り扱う</a></li>
                    <li><a href="10-WebServices.html">Webサービスをテストする</a></li>
                    <li><a href="11-Codecoverage.html">コードカバレッジ</a></li>
                    <li><a href="12-ContinuousIntegration.html">継続的インテグレーション</a></li>
                    <li><a href="12-ParallelExecution.html">並列実行</a></li>
                </ol>
            </div>
            <h1>目次</h1>
            <div id="toc" class="well">
            </div>
        </nav>
    </div>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="container inner">
        <p class="copyright">Codeception.docs.ja maintained by <a target="_blank" href="https://github.com/piccagliani">piccagliani</a></p>
        <p>Last updated: {{ site.time }}, Based on <a target="_blank" href="https://github.com/Codeception/Codeception/tree/{{ site.version }}">Codeception {{ site.version }}</a></p>
        <div id="contributors"></div>
    </footer>
</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-59804278-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="javascripts/toc.min.js"></script>
<script src="javascripts/contributors.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#toc').toc({
            'selectors': 'h2,h3,h4',
            'container': '#main_content',
            'anchorName': function(i, heading, prefix) {
                return prefix + i;
            }
        });
    });
</script>
</body>
</html>
